h1{
    background-color: skyblue;
    border: 2px solid black;
}

@media (min-width:200px) and (max-width:400px) {
    h1{
        background-color: red;
    }
}

@media (orientation: landscape){
    h1{
        background-color: coral;
        color: deeppink;
    }
}